<h1>Registration</h1>
<div class="info"><a href="https://www.grandvincent-marion.fr" target="_blank"><p>ABMODEL<i class="fa fa-heart"></i> CV </p></a></div>

<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
     <h1>Complete the information. We need know your information</h1>
     
 <div class="contentform">
     <div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


     <div class="leftcontact">
               <div class="form-group">
                 <p>Username<span>*</span></p>
                 <span class="icon-case"><img src="https://img.icons8.com/office/30/000000/administrator-male.png"></span>
                     <input formControlName="username" type="text" name="nom" id="nom" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné."/>
             <div class="validation"></div>
    </div> 

         <div class="form-group">
         <p>Name <span>*</span></p>
         <span class="icon-case"><img src="https://img.icons8.com/office/30/000000/user.png"></span>
             <input formControlName="name" type="text" name="prenom" id="prenom" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné."/>
             <div class="validation"></div>
         </div>

         <div class="form-group">
         <p>E-mail <span>*</span></p>	
         <span class="icon-case"><img src="https://img.icons8.com/color/30/000000/gmail.png"></span>
             <input formControlName="mail" type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire."/>
             <div class="validation"></div>
         </div>	

         <div class="form-group">
         <p>University<span>*</span></p>
         <span class="icon-case"><img src="https://img.icons8.com/dusk/30/000000/student-center.png"></span>
             <input formControlName="university" type="text" name="society" id="society" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné."/>
             <div class="validation"></div>
         </div>

         <div class="form-group">
         <p>Address <span>*</span></p>
         <span class="icon-case"><img src="https://img.icons8.com/color/30/000000/worldwide-location.png"></span>
             <input formControlName="direccion" type="text" name="adresse" id="adresse" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Adresse' doit être renseigné."/>
             <div class="validation"></div>
         </div>

         <div class="form-group">
         <p>ZIP<span>*</span></p>
         <span class="icon-case"><img src="https://img.icons8.com/ios/30/000000/zip-code-filled.png"></span>
             <input formControlName="cp" type="text" name="postal" id="postal" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Code postal' doit être renseigné."/>
             <div class="validation"></div>
         </div>	
         <div class="form-group">
            <p>URL IMAGE<span>*</span></p>
            <span class="icon-case"><img src="https://img.icons8.com/color/30/000000/xlarge-icons.png"></span>
                <input formControlName="image" type="url" name="image" id="image" data-rule="required" data-msg="URL INCORRECTA"/>
                <div class="validation"></div>
            </div>	


 </div>

 <div class="rightcontact">	

         <div class="form-group">
         <p>Password <span>*</span></p>
         <span class="icon-case"><img src="https://img.icons8.com/color/30/000000/lock-2.png"></span>
             <input formControlName="pass" type="password" name="pass" id="pass" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Ville' doit être renseigné."/>
             <div class="validation"></div>
         </div>	

         <div class="form-group">
         <p>Phone number <span>*</span></p>	
         <span class="icon-case"><img src="https://img.icons8.com/color/30/000000/google-mobile.png"></span>
             <input formControlName="cellphone" type="text" name="phone" id="phone" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres"/>
             <div class="validation"></div>
         </div>

         <div class="form-group">
         <p>City<span>*</span></p>
         <span class="icon-case"><img src="https://img.icons8.com/color/30/000000/city.png"></span>
             <input formControlName="city" type="text" name="city" id="city" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Fonction' doit être renseigné."/>
             <div class="validation"></div>
         </div>

         <div class="form-group">
         <p>Career<span>*</span></p>	
         <span class="icon-case"><img src="https://img.icons8.com/color/30/000000/workers-female.png"></span>
             <input formControlName="career" type="text" name="sujet" id="sujet" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/>
             <div class="validation"></div>
         </div>
     
         <div class="form-group">
         <p>Description<span>*</span></p>
         <span class="icon-case"><img src="https://img.icons8.com/color/30/000000/resume.png"></span>
             <textarea formControlName="description" name="message" rows="14" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Message' doit être renseigné."></textarea>
             <div class="validation"></div>
         </div>	
         <div class="form-group">
            <p>Sex<span>*</span></p>
            <span class="icon-case"><img src="https://img.icons8.com/color/30/000000/resume.png"></span>
            
                <input formControlName="sexo" type="radio" id="male" name="sexo" value="M"
                       >
                <label for="male">MALE</label>

                <input formControlName="sexo" type="radio" id="female" name="sexo" value="F">
                <label for="female">FEMALE</label>
            
           
                <div class="validation"></div>
            </div>	
        	
 </div>
 </div>
<button  class="bouton-contact" (click)=" AddCV()">Save</button>
 
</form>	
